/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply bg-zinc-900 text-zinc-300;
}
h1 {
    @apply text-2xl font-medium;
}
h2 {
    @apply text-xl font-medium;
}
a {
    @apply text-sky-500 hover:text-sky-400 active:text-sky-600 transition;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    @apply bg-slate-700 hover:bg-slate-600 active:bg-slate-800 transition rounded px-4 py-2 text-white font-medium text-sm uppercase tracking-wider flex items-center;
    &:disabled {
        @apply opacity-40 cursor-not-allowed hover:bg-slate-700 active:bg-slate-700;
    }

    ng-icon {
        @apply text-lg;
        &:not(:last-child) {
            @apply mr-2;
        }
    }

    &.small {
        @apply text-xs px-2 py-1;
        ng-icon {
            @apply text-base;
        }
    }
    &.outline {
        @apply border border-white outline-none bg-white bg-opacity-0 hover:bg-opacity-5 active:bg-opacity-15;
    }
    &.green {
        @apply bg-green-600 hover:bg-green-500 active:bg-green-600;
    }
    &.blue {
        @apply bg-blue-600 hover:bg-blue-500 active:bg-blue-600;
    }
    &.red {
        @apply bg-red-600 hover:bg-red-500 active:bg-red-600;
    }
}

input[type=text], input[type=number], select {
    @apply rounded px-4 py-2 bg-zinc-100 border border-zinc-500 outline-none w-64;
    box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);

    &.dark {
        @apply bg-zinc-950 bg-opacity-25 border-zinc-800;
    }
}
input[type=color] {
    @apply rounded border border-zinc-500 outline-none w-64 h-10;
}
.input-group {
    @apply my-4;

    label {
        @apply block my-1 text-sm uppercase opacity-75;
    }
}

code {
    @apply text-rose-400;
}